option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  EMAIL_HOST
    value:  email-smtp.us-east-1.amazonaws.com
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  EMAIL_PORT
    value:  465
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  EMAIL_USERNAME
    value:  AKIAIMEQVFK6XHFRJ3NQ
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  EMAIL_PASSWORD
    value:  Ah+ofQtDcibna9nxBPDQ7XNGLUvPPM8VqvPiXkpKY3ha
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  EMAIL_TEMPLATE_FROM
    value:  pbremer@umich.edu