option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  DATASOURCE_URL
    value:  jdbc:postgresql://astrodevdb.ct1ugyz86pob.us-east-2.rds.amazonaws.com:5432/astrodevdb
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  DATASOURCE_USERNAME
    value:  astrodevdb
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  DATASOURCE_PASSWORD
    value:  umdearborn
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  SERVER_PORT
    value:  5000