option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  AWS_REGION
    value:  us-east-2
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  AWS_ACCESS_KEY_ID
    value:  AKIAJIBJHIJI2FGADYVQ
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  AWS_SECRET_ACCESS_KEY
    value:  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
