option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  EMAIL_HOST
    value:  email-smtp.us-west-2.amazonaws.com
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  EMAIL_PORT
    value:  465
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  EMAIL_USERNAME
    value:  AKIAJCQIMXU6PXDMHDPA
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  EMAIL_PASSWORD
    value:  At2nAog0r9Hciu1/coUJUsloxQJAtcqjI9SN3PBRJXYt
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  EMAIL_TEMPLATE_FROM
    value:  umdastro@umich.edu