option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  DATASOURCE_URL
    value:  jdbc:postgresql://astrodb.cr4riq4wfect.us-west-2.rds.amazonaws.com:5432/astro
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  DATASOURCE_USERNAME
    value:  astrouname
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  DATASOURCE_PASSWORD
    value:  astropass
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  SERVER_PORT
    value:  5000