option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  AWS_REGION
    value:  us-west-2
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  AWS_ACCESS_KEY_ID
    value:  AKIAJCQIMXU6PXDMHDPA
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  AWS_SECRET_ACCESS_KEY
    value:  At2nAog0r9Hciu1/coUJUsloxQJAtcqjI9SN3PBRJXYt
